<!DOCTYPE html>
<meta charset="utf-8">
<title>${category} National Ranking 2015</title>
<script src="../natcrit.js" type="text/javascript"></script>
<link href="../N2011.css" rel="stylesheet" type="text/css">

<h1 id="top"><a href="../N2015.htm">Belgian National Regularity 2015</a></h1>

<ul id="women">
% for cat in categories:
    % if cat[0]=="D":
        % if cat==category:
    <li class="open">${cat}
        % else:
    <li><a href="${cat}.html">${cat}</a>
        % endif
    % endif
% endfor
</ul>
<ul id="men">
% for cat in categories:
    % if cat[0]=="H":
        % if cat==category:
    <li class="open">${cat}
        % else:
    <li><a href="${cat}.html">${cat}</a>
        % endif
    % endif
% endfor
</ul>

<h2>${category}</h2>

<table>
% for runner in runners:
<tr>
    <td>${runner.place}
    <td>${runner.name}
    <td>${runner.club}
% for entry in runner.data:
    <td>${entry}
% endfor
    <td class="tot">${runner.total}
% endfor
</table>
